!!!
%html
  %head
    %title Api Search - Ian Knox
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
  %body
    %header
      .title
        %h1= link_to 'Public API Search', root_path
      .sub
        = link_to 'http://www.soundcloud.com' do
          = image_tag 'https://developers.soundcloud.com/assets/powered_by_white-371bd6967352fcc89673d4c81f7e5661.png'
    = yield
